.content{
    display: grid;
    grid-template-rows: 6em calc(100vh - 6em);
    grid-template-columns: 1fr;
}
nav{
    grid-row: 1 / span 1;
    height: 6em;
}
section{
    grid-row: 2 / span 1;
    max-height: 100%;
}

