<div class="okno">
  <div class="left_panel">
    <h3>Contact details:</h3>

    <div class="contact">
      <h4>Adress:</h4>
      <p>{{adress_}}</p>
      <h4>Phone number:</h4>
      <p>{{phone_}}</p>
      <h4>E-mail:</h4>
      <p>{{email_}}</p>

      <p class="addition">
        If you want to ask me something or you have proposition for me
         you can contact me by this form or call on my phone
      </p>
    </div>

  </div>
  <div class="form_panel">
    <div class="con">
      <form action="">
        <h5>Title</h5>
        <input type="text" name="title" id="form_1" class="input">
        <h5>E-mail</h5>
        <input type="text" name="email" id="form_2"class="input">
        <h5>Message</h5>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit" class="submit_butt">
     </form>
    </div>
  </div>
</div>
