.okno{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: calc(100vh - 6em);
}

.left_panel{
    grid-column: 1 / span 1;
    padding: 4em 1em 0 2.5em;
    min-width: 15em;
    
}

.form_panel{
    grid-column: 2 / span 1;
    padding-top: 3em; 
}

.contact{
    padding-left: 1em;
}

.addition{
    padding-top: 2em;
    max-width: 90%;
}

.con{
    width: 50%;
    margin: 0 10%;
  
}
.input{
    display: block;
    margin: 0 auto;
    font-size: 1.8em;
    text-align: center;
    padding: 5px;
}
h5:first-of-type{
    margin-top: 0;
}
h5:last-of-type{
    padding-top: 1.5em;
}

h5{
    text-align: center;
    font-size: 1em;
    margin-bottom: 1em;
}

textarea{
    resize: none;
    text-align: left;
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    min-width: 30vw;
}

.submit_butt{
    display:block;
    margin: 1em auto 0 auto;
    padding: 5px 8px;
    font-size: 1.2em;
    background-color: rgb(194, 194, 194);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.submit_butt:hover{

    background-color: rgb(111, 194, 136);
}
@media only screen and (max-width: 600px) {

    .okno{
        grid-template-rows: 100vh 100vh;
        grid-template-columns: 100vw;
    }

    .form_panel{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .left_panel{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .input{

        font-size: 1em;
        text-align: center;
        padding: 5px;
        width: 90vw;
    }

    .con{
        width: 100%;
        margin: 0 auto;    
    }

}

