.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.2em;    
}

.okno{
    font-size: 30px;
    text-indent: 1em;
    max-width: 100%;
    max-height: 100%;
}


img{
    width: 20rem;
    padding-left: 1em;
    padding-top: 1em;
    float: right;
    
}

@media only screen and (max-width: 600px) {

    .container{
        padding: 0;
        padding: 0 1em;
    }
    .okno{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img{
        display: blox;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        float: none;
    }
  }