/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}