nav {
  height: 100%;
  padding-top: 2em;
  padding-left: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  z-index: 200;
  padding: 1.5em;
  font-size: 1.1em;
  color: black;
}

.bold {
  font-weight: bold;
}
