<header>
  <nav>
    <ul>
      <li class="navbar bold" (click)="changeWeight($event)">
        <a id="work_id" routerLink="/">Work</a>
      </li>
      <li class="navbar" (click)="changeWeight($event)">
        <a id="about_id" routerLink="/about">About</a>
      </li>
      <li class="navbar" (click)="changeWeight($event)">
        <a id="contact_id" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
