<section class="okno">

  <div class="welcome">
    <div class="collection-item active">
      <div class="text_">
        <h1>
          A student of Information technology 
          with artist's soul.
        </h1>
        <p>
          What can goes wrong? 
        </p>
      </div>
    </div>
    
      <div [ngStyle]="{'background-image': 'url(../../assets/Pictures/two.png)'}" class="collection-item work-item"
      (mouseenter)="hoverEffectOn($event)" (mouseleave)="hoverEffectOff($event)">

        <div class="descrip"  >
          <h3>WEBSITE</h3>
          <p>
             I was looking for life purpose. I found a qustions that can help find it. One of the qustions was
             'WHAT MAKES YOU FORGET TO EAT AND POOP?'
          </p>
          <p>This is it - Making website</p>
        </div>
      </div>
      
      <div [ngStyle]="{'background-image': 'url(../../assets/Pictures/three.png)'}" class="collection-item work-item"
      (mouseenter)="hoverEffectOn($event)" (mouseleave)="hoverEffectOff($event)">
        <div class="descrip">
          <h3>DESIGN</h3>
          <p>
            I have an artist's soul. I draw since I remember. This is one of the not many things that makes me happy in life.
            Making nice looking eye-catching design that people will love.
          </p>
        </div>
      </div>
      
    
  </div>

  <div class="radio_buttons">
    <ul>
      <li><input type="radio" name="work" id="one" checked (change)="changeWork($event)"></li>
      <li><input type="radio" name="work" id="two"(change)="changeWork($event)"></li>
      <li><input type="radio" name="work" id="three"(change)="changeWork($event)"></li>
    </ul>
  </div>
  



</section>
