body{
    overflow-x:hidden;   
}


.welcome{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

.collection-item{
    display: none;
    z-index: 200;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;     
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.work-item{
    transition: 700ms ease-in-out;
    /**animation: filter-animation 10s infinite; **/
    filter: grayscale(1);
}

.work-item:hover{
    filter: none;
}

.descrip{
    max-width: 70%;
    max-height: 100%;
    color: white;
    
    transition: all 1s ease;
    transition-delay: 500ms ;
    opacity: 0;

}

.descrip h3{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
.descrip p{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.descrip-after{
    opacity: 1;
    transform: translateY(1em);
}

.text_{
    width: 50vw;
}

h1{
    font-size: 4.2em;
    min-width: 13em;
    max-width: 14em;
    padding: 0;
    margin:0;

}
p{
    font-size: 2.5em;
    
    color: rgb(27, 27, 27);
    
   
}

.radio_buttons{
    width: 100vw;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    
}

ul{
    list-style-type: none;
    margin: auto; padding: 0;
}

li{
    float: left;
    
}

input{
    width: 1.5em;
    height: 1.5em;
    z-index: 10;
}

@media only screen and (max-width: 600px) {
    .collection-item{
        
        height: 78vh;
           
    }

    h1{
        font-size: 2em;
        min-width: 70%;
        max-width: 100%;
        padding: 0;
        margin:0;
    
    }

    p{       
        color: rgb(27, 27, 27);    
    }
    .text_{
        width: 80%;
    }

    .descrip p{
        font-size: 1em;

    }
}